@model IEnumerable<WebStore.Models.Employee>


<!DOCTYPE html>

<html>
<head>
    <meta name="Employees Model"/>
    <title>"Web Store @ViewBag.Title"</title>
</head>

<body>
    <h3>Employees</h3>
<hr/>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Patronymic</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var employee in Model)
        {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.Surname</td>
            <td>@employee.Name</td>
            <td>@employee.Patronymic</td>
            <td>@employee.Age</td>
            <td> <a href="Home/EmployeeDetails/@employee.Id">more info</a> </td>
        </tr>
        }
    </tbody>
</table>    
</body>
</html>
